{% extends 'user/layout/layout.html.twig' %}

{% block title %}Espace professionnel de Fokus, application d'état des lieux{% endblock %}
{% set page_title %}Dashboard{% endset %}

{% block main_content %}
<div class="example-wrapper">
    <h1>Hello world</h1>
</div>
{% endblock %}
