{% extends 'user/pages/inventory/template.html.twig' %}

{% set page_title %}Liste des états des lieux{% endset %}

{% block main_content %}
    <div id="inventories_list"
         data-num-society="{{ app.request.session.get('numSociety') }}"
         data-highlight="{{ app.request.query.get('h') }}"
         data-status="{{ app.request.query.get('st') }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
