{% extends 'user/pages/profil/template.html.twig' %}

{% set page_title %}Mon compte{% endset %}
{% set page_subtitle %}Ajouter et gérez les sociétés du site.{% endset %}

{% block main_content %}
    <div id="profil">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
