{% extends 'user/pages/profil/template.html.twig' %}

{% set page_title %}Mon compte{% endset %}

{% block main_content %}
    <div class="flex flex-col gap-4 md:grid md:grid-cols-3">
        <div>
            <div class="bg-white p-4 rounded-md shadow">
                <div class="text-xl font-semibold mb-4 border-b pb-4">
                    Modifier mon profil
                </div>

                <div id="profil_update" data-element="{{ element }}">
                    {% include "layout/components/tailwind/loaders/loader.html.twig" %}
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 md:col-span-2">
            <div class="bg-white p-4 rounded-md shadow">
                <div class="text-xl font-semibold mb-4 border-b pb-4">
                    Application
                </div>
                <div class="flex gap-2">
                    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                        btn_link: path('user_application_apk'),
                        btn_type: 'default',
                        btn_icon: 'smartphone',
                        btn_text: 'Télécharger l\'application mobile'
                    } %}
                    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                        btn_link: path('user_application_patch'),
                        btn_type: 'default',
                        btn_icon: 'download',
                        btn_text: 'Télécharger le patch'
                    } %}
                    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                        btn_link: path('user_application_documentation'),
                        btn_type: 'default',
                        btn_icon: 'file',
                        btn_text: 'Télécharger la documentation',
                        btn_target: '_blank'
                    } %}
                </div>
            </div>

            {% if app.user.rights == 1 %}
                <div id="profil_users" class="bg-white p-4 rounded-md shadow" data-highlight="{{ app.request.query.get('h') }}">
                    <div class="text-xl font-semibold mb-4 border-b pb-4">
                        Liste des utilisateurs
                    </div>
                    <div>
                        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
