{% extends 'layout/layout_user.html.twig' %}

{% set page_prefix = "Espace professionnel de Fokus, application d'état des lieux" %}

{% set menu = [
    {
        name: "Dashboard", icon: "calendar",
        path: path('user_homepage'),
        matchRoute: ['user_homepage']
    },
    {
        name: "Liste des biens", icon: "layer",
        path: path('user_properties_index'),
        matchRoute: ['user_properties_index']
    },
    {
        name: "Liste des locataires", icon: "group",
        path: path('user_tenants_index'),
        matchRoute: ['user_tenants_index']
    },
    {
        name: "Liste des modèles", icon: "box",
        path: path('user_models_index'),
        matchRoute: ['user_models_index']
    },
    {
        name: "Mon compte", icon: "user",
        path: path('user_profil_index'),
        matchRoute: ['user_profil_index']
    },
    {
        name: "Se déconnecter", icon: "logout",
        path: path('app_logout'),
        matchRoute: ['app_logout']
    },
] %}

{% block footer %}
    <div class="bg-color2 px-4 py-8 text-sm sm:px-6 lg:px-8">
        <div class="mx-auto max-w-screen-2xl pt-4 flex flex-col text-center lg:flex-row lg:text-left gap-2 justify-center">
            <p class="text-gray-300">&copy; 2021 - <a href="https://logilink.fr" class="text-blue-600">Logilink.fr</a></p>
            <span class="text-gray-300">-</span>
            <a class="text-gray-300 hover:text-white" href="{{ path('app_mentions') }}">Mentions légales</a>
            <a class="text-gray-300 hover:text-white" href="{{ path('app_politique') }}">Politique de confidentialité</a>
            <a class="text-gray-300 hover:text-white" href="{{ path('app_cookies') }}">Gestion des cookies</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="text-gray-300 hover:text-white" href="{{ path('admin_homepage') }}">Espace administrateur</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
