{% extends 'admin/pages/fokus/users/template.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}

{% block main_content %}
    <div id="users_list" data-highlight="{{ app.request.query.get('h') }}">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
