{% extends 'user/pages/bibliotheque/template.html.twig' %}

{% set page_title %}Bibliothèque{% endset %}

{% block main_content %}
    <div id="bibli_list"
         data-num-society="{{ app.request.session.get('numSociety') }}"
         data-page-id="{{ app.request.query.get('pageId') }}"
         data-highlight="{{ app.request.query.get('h') }}"
         data-rights="{{ app.user.rights }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
