{% extends 'user/pages/tenant/template.html.twig' %}

{% set page_title %}Liste des locataires{% endset %}

{% block main_content %}
    <div id="tenants_list"
         data-num-society="{{ app.request.session.get('numSociety') }}"
         data-highlight="{{ app.request.query.get('h') }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
