{% extends 'app/layout/layout.html.twig' %}

{% block title %}Fokus, application et logiciel d'état des lieux en ligne{% endblock %}

{% set html_class = "bg-white" %}
{% set nav_class = "lg:fixed xl:top-0 lg:left-0 lg:w-full" %}
{% set main_class = "sm:min-h-[calc(100vh-100px-100px)] lg:min-h-[calc(100vh-100px)]" %}

{% block main_content %}
    <div class="px-6 lg:min-h-[calc(100vh-100px)] lg:px-0">
        <div class="lg:grid lg:grid-cols-2">
            <div class="hidden lg:relative lg:max-h-[calc(100vh-100px)] lg:block lg:overflow-hidden">
                <img src="{{ asset('build/app/images/homepage.jpg') }}" alt="illustration homepage" class="w-full h-full object-cover">
                <div class="absolute bottom-8 left-8 text-gray-300">
                    <div class="font-medium">Fokus application et logiciel d'état des lieux en ligne</div>
                    <div>Créé par Logilink</div>
                </div>
            </div>
            <div class="w-full mx-auto pt-16 pb-24 sm:py-48 lg:py-0 lg:flex lg:items-center lg:justify-center">
                <div class="w-full px-6">
                    <h1 class="text-4xl text-center font-bold tracking-tight text-gray-900 sm:text-6xl">
                        Espace Fokus <span class="text-color1">.</span>
                    </h1>
                    <p class="mt-4 text-center text-gray-600 mx-auto max-w-sm">
                        Développé pour tablettes Android, Fokus a été élaboré en étroite collaboration avec des
                        professionnels de l’immobilier.
                    </p>
                    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                        {% include 'app/pages/security/components/login_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div
{% endblock %}
