{% extends 'app/layout/layout.html.twig' %}

{% block title %}Fokus, application et logiciel d'état des lieux en ligne{% endblock %}

{% set html_class = "bg-white" %}
{% set nav_class = "lg:fixed xl:top-0 lg:left-0 lg:w-full" %}
{% set main_class = "sm:min-h-[calc(100vh-100px-100px)] lg:min-h-[calc(100vh-100px)]" %}

{% block main_content %}
    <div class="px-6 lg:min-h-[calc(100vh-100px)] lg:px-0">
        <div class="lg:grid lg:grid-cols-2">
            <div class="hidden lg:relative lg:max-h-[calc(100vh-100px)] lg:block lg:overflow-hidden">
                <img src="{{ asset('build/app/images/homepage.jpg') }}" alt="illustration homepage" class="w-full h-full object-cover">
                <div class="absolute bottom-8 left-8 text-gray-100">
                    <div class="font-medium text-xl">Fokus</div>
                    <div class="ft-special text-sm bg-gray-600/60 inline-block rounded-md px-4 py-0.5">Application et logiciel</div>
                    <p class="mt-2 md:max-w-80 text-sm">
                        Établissez, gérez et sauvegardez vos états des lieux dans un environnement fiable et sécurisé.
                    </p>
                    <div class="mt-4">
                        <a href="{{ path('app_contact') }}" class="group text-sm font-semibold leading-6 text-blue-500 ft-special">
                            Nous contacter <span aria-hidden="true" class="inline-block transition-transform group-hover:translate-x-1">→</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full mx-auto pt-16 pb-24 sm:py-48 lg:py-0 lg:flex lg:items-center lg:justify-center">
                <div class="w-full px-6">
                    <h1 class="text-4xl text-center font-bold tracking-tight text-gray-900 sm:text-6xl">
                        Espace Fokus <span class="text-color1">.</span>
                    </h1>
                    <p class="mt-4 text-center text-gray-600 mx-auto max-w-sm">
                        Développé pour tablettes Android, Fokus a été élaboré en étroite collaboration avec des
                        professionnels de l’immobilier.
                    </p>
                    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="text-center p-4 border rounded-md">
                                <h3 class="mb-6 font-medium">Vous êtes déjà connecté.</h3>
                                <a href="{{ path('app_login') }}" class="flex w-full justify-center rounded-full uppercase bg-indigo-600 p-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    Accéder à mon espace
                                </a>
                            </div>
                        {% else %}
                            {% include 'app/pages/security/components/login_form.html.twig' %}
                            <a href="{{ path('app_contact') }}"
                               class="w-full inline-flex items-center justify-center text-center rounded-full py-4 px-8 uppercase font-semibold text-gray-700 hover:text-black"
                            >
                                <span class="ml-1">Envie d'essayer ?</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div
{% endblock %}
